@import './fonts/font.css';
@import './common-style/style.scss';
@import  '../images/SVG/style.css';


.header {

  &__up {
    background: #F5FAFE;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__up-cont {
    display: flex;
    max-width: 1110px;
    padding: 24px 0;
    justify-content: space-between;
    width: 100%;
  }

  &__phone {
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 10px;
    color: #333333;
    p {
      span{
        font-weight: 400;
      }
    }
  }

  &__card {
    margin-left: 134px;
    font-family: 'Mulish';
    font-size: 10px;
    line-height: 13px;
    position: relative;
    color: #333333;
    &:nth-child(1) {
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 30px;
        background-image: url('../images/SVG/gift.svg');
        background-repeat: no-repeat;
        top: -5px;
        left: -40px;
      }
    }
    &:nth-child(2) {

      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 30px;
        background-image: url('../images/SVG/star.svg');
        background-repeat: no-repeat;
        top: -5px;
        left: -40px;
      }
    }
  }

  &__down {
    display: flex;
    padding: 40px 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
  }

  &__logo {
    font-family: 'Luckiest Guy';
    font-size: 24px;
    line-height: 24px;
    width: 210px;
    span {
      color: rgba(236, 31, 70, 1);
      ;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 810px;
    width: 100%;
  }

  &__form {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    max-width: 350px;
  }

  &__input {
    background: rgba(245, 250, 254, 1);
    max-width: 285px;
    padding: 12px 108px 12px 23px;
  }

  &__btn {
    background: #EC1F46;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #FFFFFF;
    max-width: 65px;
    padding: 12px 25px;
  }

  &__basket {
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: relative;
    .header__count {
      position: absolute;
      color: white;
      font-weight: 600;
      font-size: 10px;
      line-height: 13px;
      background: #EC1F46;
      bottom: 15px;
      left: 14px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
    }
  }


  &__user {
    display: flex;
  }

  &__img {
    margin-right: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &__user-btn {
    display: flex;
    align-items: center;
    background: #FFFFFF;
  }

  &__user-name {
    font-size: 14px;
  }

  &__arrow {
    margin-left: 24px;
  }

  .navigation {
    padding: 31px 165px;
    background: rgba(10, 34, 61, 1);
    display: flex;
    justify-content: center;
    ul {
      max-width: 1110px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__link {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      &:nth-child(7) {
        margin-right: 0px;
      }
      a {
        color: #FFFFFF;
      }
      &:hover {
        a {
          color: rgba(236, 31, 70, 1);
        }
      }
    }
  }
}

.path-section {

  &__container {
    max-width: 1110px;
    width: 100%;
    padding-top: 18px;
    font-size: 10px;
    line-height: 13px;
  }
}

.flash-hotel {

  margin-top: 43px;

  .container{
    width: 100%;
    max-width: 1150px;
  }

  &__up {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__stars {
    margin-bottom: 5px;
    i {
      color: rgba(242, 153, 74, 1);
    }
  }

  &__title {
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 24px;
    position: relative;
    &::after {
      content: 'Flash Offer';
      position: absolute;
      max-width: 70px;
      width: 100%;
      font-weight: 600;
      font-size: 10px;
      color: #FFFFFF;
      text-align: center;
      padding: 4px 9px;
      background: #EC1F46;
      border-radius: 3px;
      bottom: 3px;
      right:40px;
    }
  }

  &__subtitle {
    font-family: 'Mulish';
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
  }

  &__user-rattings {
    max-width: 65px;
    max-height: 45px;
    background: #EC1F46;
    border-radius: 4px;
    font-weight: 600;
    font-size: 8px;
    padding:  6px;
    line-height: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__score {

    p {
      font-weight: 700;
      font-size: 14px;
      span {
        font-size: 10px;
      }
    }
  }
}

.flash-hotel {


  &__down {
    display: flex;
    color: #FFFFFF;
    font-family: 'Nunito';
    margin-top: 20px;
  }

  &__picture {
    border-radius: 8px;
    max-width: 728px;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    margin-right: 34px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
      top: 0px;
      left: 0px;
    }
  }

  &__right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    background: #0A223D;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 26px 26px 26px;
    max-width: 347px;
    max-height: 210px;
    margin-bottom: 27px;
  }

  &__info-left {
    flex: 0 0 50%;
  }

  &__price {
    margin: 43px 0 21px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    &::after {
      content: 'price starts as';
      position: absolute;
      font-size: 10px;
      line-height: 14px;
      top: -15px;
      left: 0px;
    }
    &::before {
      content: 'per room / night';
      position: absolute;
      font-size: 10px;
      line-height: 14px;
      bottom: -15px;
      left: 0px;
    }
  }

  &__price-title{
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__info-right {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 12px;
    line-height: 16px;
  }

  &__guests {
    margin-top: 33px;
    margin-bottom: 8px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/user.svg');
      background-repeat: no-repeat;
      top: 2px;
      left: -22px;
    }
  }

  &__room {
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/home.svg');
      background-repeat: no-repeat;
      top: 2px;
      left: -29px;
    }
  }

  &__calls {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/phone-call.svg');
      background-repeat: no-repeat;
      top: 5px;
      left: -25px;
    }
  }

  &__btn-other-options {
    flex: 0 0 100%;
    background: #EC1F46;
    border-radius: 4px;
    font-family: 'Nunito';
    padding: 13px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  &__map {
    max-width: 347px;
    max-height: 213px;
    border-radius: 10px;
    overflow: hidden;
  }
}






// Support Classes

.menu-burger{
  display: none;
}
.shadow {
  box-shadow: 0px 0px 3px #888;
}
.d-none {
  display: none;
}


// Menu Burger

@media screen and (max-width:768px){
  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-burger._active {
    span {
      transform: scale(0) translate(0, -50%);
    }
  }
  .menu-burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }



  .header__list{
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 120px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;

  }

  .header__list._active {
    left: 0px;
    .header__logo {
        position: fixed;
        left: 30px;
    }
    .fixed-burger {
      position: fixed;
    }
  }
  .header__list._active::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 94px;
    background: gray;
    z-index: 9;
  }
 }


// !! Tip for Carousel, if you want to use Carousel you need to add this class below to your
// !!section and for safety you need to limit your slide-conteiner by max-width. And of course
// !!you need to add this slide-container in carousel.js, and connect this js file to app.js

// .slick-slider {

//   .slick-list {
//     overflow: hidden;
//   }
//   .slick-track{
//     display: flex;
//   }
// }