@import './fonts/font.css';
@import './common-style/style.scss';
@import  '../images/SVG/style.css';


.header {

  position: relative;
  @media screen and (max-width:768px){
    display: flex;
    padding: 30px;
    justify-content: flex-end;
  }
  &__up {
    background: #F5FAFE;
    display: flex;
    justify-content: center;
    width: 100%;
    @media screen and (max-width:768px){
      background: transparent;
     }
  }

  &__up-cont {
    display: flex;
    max-width: 1110px;
    padding: 24px 0;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width:1200px){
      padding: 24px 20px;
     }
     @media screen and (max-width:768px){
      flex-direction: column;
      align-items: center;
      justify-content:initial;
      padding: 0;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__phone {
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 10px;
    color: #333333;
    p {
      span{
        font-weight: 400;
      }
    }
    @media screen and (max-width:768px){
      margin: 10px 0;
      color: #FFFFFF;
    }
  }

  &__card {
    margin-left: 134px;
    font-family: 'Mulish';
    font-size: 10px;
    line-height: 13px;
    position: relative;
    color: #333333;
    &:nth-child(1) {
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 30px;
        background-image: url('../images/SVG/gift.svg');
        background-repeat: no-repeat;
        top: -5px;
        left: -40px;
      }
    }
    &:nth-child(2) {

      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 30px;
        background-image: url('../images/SVG/star.svg');
        background-repeat: no-repeat;
        top: -5px;
        left: -40px;
      }
    }
    @media screen and (max-width:768px){
      margin: 10px 0;
      color: #FFFFFF;
    }
  }

  &__down {
    display: flex;
    padding: 40px 0px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    @media screen and (max-width:1200px){
      padding: 40px 20px;
    }
    @media screen and (max-width:768px){
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }

  &__logo {
    font-family: 'Luckiest Guy';
    font-size: 24px;
    line-height: 24px;
    max-width: 210px;
    position: absolute;
    top: 110px;
    left: calc( 50vw - 555px);
    @media screen and (max-width:1200px){
      left: 20px;
    }
    span {
      color: rgba(236, 31, 70, 1);
    }
    @media screen and (max-width:992px){
      max-width: 100px;
      top: 85px;

     }
     @media screen and (max-width:768px){
      max-width: 210px;
      margin-left: 0px;
      top: 30px;
     }
  }

  &__list {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  &__form {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    max-width: 350px;
  }

  &__input {
    background: rgba(245, 250, 254, 1);
    max-width: 285px;
    padding: 12px 108px 12px 23px;
    @media screen and (max-width:992px){
      max-width: 245px;
     }
  }

  &__btn {
    background: #EC1F46;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #FFFFFF;
    max-width: 65px;
    padding: 12px 25px;
    @media screen and (max-width:992px){
      max-width: 45px;
     }
  }

  &__basket {
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: relative;
    margin: 0 80px;
    @media screen and (max-width:768px){
      margin: 30px 0px;
      background:transparent;
      color: #FFFFFF;
    }
    .header__count {
      position: absolute;
      color: white;
      font-weight: 600;
      font-size: 10px;
      line-height: 13px;
      background: #EC1F46;
      bottom: 15px;
      left: 14px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
    }
  }


  &__user {
    display: flex;
  }

  &__img {
    margin-right: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;

  }

  &__user-btn {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    @media screen and (max-width:768px){
      background: transparent;
      color: white;
    }
  }

  &__user-name {
    font-size: 14px;
  }

  &__arrow {
    margin-left: 24px;
  }

  .navigation {
    padding: 31px 0;
    background: rgba(10, 34, 61, 1);
    display: flex;
    justify-content: center;
    width: 100%;
    @media screen and (max-width:1200px){
      padding: 31px 20px;
     }
     @media screen and (max-width:768px){
      background: transparent;
      padding: 0px 20px;
     }
    ul {
      max-width: 1110px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width:768px){
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        height: 340px;
      }
      li {
        @media screen and (max-width:768px){
          margin: 10px 0;
        }
      }

    }
    &__link {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      &:nth-child(7) {
        margin-right: 0px;
      }
      a {
        color: #FFFFFF;
      }
      &:hover {
        a {
          color: rgba(236, 31, 70, 1);
        }
      }

    }
  }
}

.path-section {
  background: rgba(245, 250, 254, 1);
  &__container {
    max-width: 1110px;
    width: 100%;
    padding-top: 18px;
    font-size: 10px;
    line-height: 13px;
  }
}

.flash-hotel {

  padding-top: 43px;
  background: rgba(245, 250, 254, 1);

  .container{
    width: 100%;
    max-width: 1150px;
  }

  &__up {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:768px){
      max-width: 540px;
    }
    @media screen and (max-width:576px){
      max-width: 400px;
    }
    @media screen and (max-width:435px){
      max-width: 300px;
     }
  }

  &__stars {
    margin-bottom: 5px;
    i {
      color: rgba(242, 153, 74, 1);
    }
  }

  &__title {
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 24px;
    position: relative;
    &::after {
      content: 'Flash Offer';
      position: absolute;
      max-width: 70px;
      width: 100%;
      font-weight: 600;
      font-size: 10px;
      color: #FFFFFF;
      text-align: center;
      padding: 4px 9px;
      background: #EC1F46;
      border-radius: 3px;
      bottom: 3px;
      right:40px;
      @media screen and (max-width:576px){
        right:10px;
       }
    }
    @media screen and (max-width:576px){
      font-size: 18px;
     }
  }

  &__subtitle {
    font-family: 'Mulish';
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;

  }

  &__user-rattings {
    max-width: 65px;
    height: 45px;
    background: #EC1F46;
    border-radius: 4px;
    font-weight: 600;
    font-size: 8px;
    padding:  6px;
    line-height: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width:576px){
      display: none;
     }
  }

  &__score {

    p {
      font-weight: 700;
      font-size: 14px;
      span {
        font-size: 10px;
      }
    }
  }
}

.flash-hotel {


  &__down {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Nunito';
    margin-top: 20px;
    @media screen and (max-width:768px){
      justify-content: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__picture {

    max-width: 728px;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-right: 25px;
    @media screen and (max-width:992px){
      max-height: 417px;
    }
    @media screen and (max-width:768px){
      margin: 0 30px 30px 30px;
      max-width: 540px;
      max-height: 350px;
     }
     @media screen and (max-width:576px){
      max-width: 400px;
      max-height: 400px;
      margin: 0 30px 0px 30px;
      border-radius: 8px 8px 0px 0px;
      }
      @media screen and (max-width:435px){
        max-width: 300px;
       }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
      top: 0px;
      left: 0px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      object-fit: cover;
    }
  }

  &__right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width:768px){
      flex-direction: initial;
      justify-content: center;
      width: 100%;
     }
     @media screen and (max-width:576px){
      flex-direction: column;
      }
  }

  &__info {
    background: #0A223D;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 26px 26px 26px;
    max-width: 347px;
    max-height: 210px;
    margin-bottom: 27px;
    @media screen and (max-width:992px){
        max-width: 280px;
        height: 210px;
        padding: 0px 20px 20px 20px;
     }
     @media screen and (max-width:768px){
        width: 100%;
        max-height: 213px;
        margin-bottom: 0px;
        margin-right: 15px;
      }
      @media screen and (max-width:576px){
        margin-bottom: 27px;
        max-width: 400px;
        margin-right: 0px;
        border-radius:0px 0px 8px 8px;
      }
      @media screen and (max-width:435px){
        width: 300px;
       }
  }

  &__info-left {
    flex: 0 0 50%;
  }

  &__price {
    margin: 43px 0 21px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    &::after {
      content: 'price starts as';
      position: absolute;
      font-size: 10px;
      line-height: 14px;
      top: -15px;
      left: 0px;
    }
    &::before {
      content: 'per room / night';
      position: absolute;
      font-size: 10px;
      line-height: 14px;
      bottom: -15px;
      left: 0px;
    }
  }

  &__price-title{
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__info-right {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 12px;
    line-height: 16px;
  }

  &__guests {
    margin-top: 33px;
    margin-bottom: 8px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/user.svg');
      background-repeat: no-repeat;
      top: 2px;
      left: -22px;
    }
  }

  &__room {
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/home.svg');
      background-repeat: no-repeat;
      top: 2px;
      left: -29px;
    }
  }

  &__calls {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/phone-call.svg');
      background-repeat: no-repeat;
      top: 5px;
      left: -25px;
    }
  }

  &__btn-other-options {
    flex: 0 0 100%;
    background: #EC1F46;
    border-radius: 4px;
    font-family: 'Nunito';
    padding: 13px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
  }

  &__map {
    max-width: 347px;
    max-height: 213px;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width:576px){
      max-width: 400px;
    }
    iframe {
      width: 347px;
      height: 213px;
      @media screen and (max-width:992px){
        width: 280px;
        height: 179px;
       }
       @media screen and (max-width:768px){
        width: 245px;
        height: 213px;
       }
       @media screen and (max-width:576px){
        width: 400px;
       }
       @media screen and (max-width:435px){
        max-width: 300px;
       }
    }
  }
}

.tabs-hotel {

  width: 100%;

  &__navigation {
    margin: 60px 0;
    @media screen and (max-width:576px){
      margin: 30px 0;
     }
    ul {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width:992px){
        flex-wrap: wrap;
        justify-content: space-evenly;
        li{
          margin: 15px 45px;
        }
       }
       @media screen and (max-width:768px){
          li{
            margin: 15px 10px;
          }
        }
        @media screen and (max-width:576px){
          li{
            margin: 15px 20px ;
          }
        }
    }

  }

  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    transition: all 0.3s ease 0s;
    @media screen and (max-width:576px){
      font-size: 12px;
    }
    &:hover {
      color:rgba(236, 31, 70, 1);
      &::after {
        content: '';
      }
    }
    position: relative;
    &::after {
      position: absolute;
      height: 4px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #EC1F46;
      bottom: -15px;
    }
    color: #333333
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
  }

  &__details-up {
    display: flex;
    margin: 33px 0 29px 0;
    @media screen and (max-width:870px){
      flex-direction: column;
    }
  }

  &__details {
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 538px;
    @media screen and (max-width:870px){
      max-width: initial;
      width: 100%;
     }
    &:nth-child(1){
      margin-right: 32px;
      @media screen and (max-width:870px){
        margin-right: 0px;
        margin-bottom: 29px;
      }
    }
  }

  &__details-title {
    flex: 0 0 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #0A223D;
    padding: 16px 0 16px 24px ;
    max-height: 49.6px;
    margin-bottom: 25px;
  }

  &__right {
    flex: 0 0 50%;
    padding: 0 10px;
    height: 100%;
    @media screen and (max-width:550px){
      flex: 0 0 100%;
     }
  }

  &__item {
    margin: 10px 0 10px 65px;
    position: relative;
    height: 40px;

    @media screen and (max-width:992px){
      margin: 10px 0 10px 45px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/cheak.svg');
      background-repeat: no-repeat;
      top: -2px;
      left: -40px;
      @media screen and (max-width:992px){
        left: -30px;
      }
    }
  }

  &__left {
    flex: 0 0 50%;
    padding: 0 10px;
    @media screen and (max-width:550px){
      flex: 0 0 100%;
    }
  }

  &__notice {
    margin: 43px 0 18px 65px;
    @media screen and (max-width:992px){
      margin: 43px 0 18px 45px;
     }
  }

  &__availability {
    margin: 10px 0 10px 65px;
    position: relative;
    height: 30px;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url('../images/SVG/calendar.svg');
      background-repeat: no-repeat;
      top: -3px;
      left: -40px;
    }
  }

  &__details-summery {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
  }

  &__up {
    display: flex;
    @media screen and (max-width:550px){
      flex-wrap: wrap;
     }
  }

  &__column {
    flex: 0 0 33%;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px;

    @media screen and (max-width:550px){
      flex: 0 0 100%;
     }

  }

  &__column-title {
    margin: 20px 0 20px 25px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #EC1F46;
    height: 20px;
    @media screen and (max-width:992px){
      margin: 20px 0 20px 15px;
     }
  }

  &__line {
    border: 0.5px dashed #E0E0E0;

  }

  &__down {
    display: flex;
    @media screen and (max-width:550px){
      flex-wrap: wrap;
     }
  }

  &__lorem {
    margin: 30% 100px;
    text-align: center;
    font-weight: 600;
  }
}

.packages {

  background: rgba(245, 250, 254, 1);

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    margin: 105px 0 65px 0;
    @media screen and (max-width:768px){
      margin: 50px 0 30px 0;
    }
  }

  &__container {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(3 , 350px);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    @media screen and (max-width:1200px){
      gap: 20px;
      grid-template-columns: repeat(3 , 300px);
      grid-template-rows: repeat(2, 500px);
     }
     @media screen and (max-width:992px){
      gap: 20px;
      grid-template-columns: repeat(2 , 300px);
      grid-template-rows: repeat(3, 500px);
     }
     @media screen and (max-width:768px){
      gap: 15px;
      grid-template-columns: repeat(2 , 250px);
      grid-template-rows: repeat(3, 500px);
     }
     @media screen and (max-width:576px){
      gap: 15px;
      grid-template-columns: repeat(1 , 300px);
      grid-template-rows: repeat(5, 500px);
     }
  }

  &__main-card {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    @media screen and (max-width:576px){
      grid-column-start: initial;
      grid-column-end: initial;
      flex-direction: column;
      border-radius: 8px;
      overflow: hidden;
     }
  }

  &__main-card-img {
    position: relative;
    overflow: hidden;
  }

  &__main-card-flash {
    position: absolute;
    width: 95px;
    padding: 8px 11px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background: #EC1F46;
    border-radius: 0px 4px 4px 0px;
    top: 26px;
    left: 0;
    @media screen and (max-width:576px){
      padding: 4px 9px;
      font-weight: 600;
      font-size: 8px;
      width: 65px;
    }
  }

  &__main-card-info {
    background: rgba(10, 34, 61, 1);
    padding: 47px 21px 30px 44px;
    border-radius: 0px 8px 8px 0px;
    max-width: 367.325px;
    @media screen and (max-width:1200px){
      padding: 47px 21px 20px 24px;
      max-width: 320px;
     }
     @media screen and (max-width:768px){
      max-width: 260px;
      padding: 25px 21px 20px 24px;
     }
     @media screen and (max-width:576px){
      max-width: 300px;
      padding: 15px;
      border-radius:0;
      }
  }

  &__main-card-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 27px;
    @media screen and (max-width:576px){
      margin-bottom: 10px;
    }
  }

  &__main-card-text {
    font-size: 14px;
    line-height: 160.6%;
    color: #FFFFFF;
    margin-bottom: 34px;
    @media screen and (max-width:576px){
      max-height: 40px;
      overflow: hidden;
      margin-bottom: 24px;
    }
  }

  &__location {
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/map-pin.svg');
      background-repeat: no-repeat;
      top: 0px;
      left:-2px;
    }
  }

  &__guests {
    padding-left: 20px;
    margin: 5px 0;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/user.svg');
      background-repeat: no-repeat;
      top: 0px;
      left:-2px;
    }
  }

  &__room {
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/home.svg');
      background-repeat: no-repeat;
      top: 0px;
      left:-2px;
    }

  }

  &__down {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__old-price {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  &__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    @media screen and (max-width:768px){
      font-size: 18px;
    }
  }

  &__button {
    background: #EC1F46;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 25px;
    border: 2px solid #EC1F46;
    transition: all 0.3s ease 0s;
    &:hover {
      color: #EC1F46;
      background: transparent;
    }
  }

  &__card {
    background: rgba(10, 34, 61, 1);
    border-radius: 8px;
    overflow: hidden;
  }

  &__card-info {
    padding: 32px 30px 21px 25px;
  }

  &__card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 23px;
  }

  &__img {
    position: relative;
    overflow: hidden;
  }

  &__flash {
    position: absolute;
    background: #EC1F46;
    padding: 4px 9px;
    border-radius: 0px 4px 4px 0px;
    top: 26px;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
  }
}

.about {

  background: rgba(245, 250, 254, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin: 110px 0 115px 0;
    @media screen and (max-width:992px){
      margin: 50px 0 55px 0;
     }
     @media screen and (max-width:768px){
      font-size: 32px;
      margin: 50px 50px 55px 50px;
      }
  }

  &__slider {
    max-width: 731px;
    margin-bottom: 70px;
    position: relative;
    @media screen and (max-width:768px){
      max-width: 540px;
     }
     @media screen and (max-width:576px){
      max-width: 300px;
     }
  }
  .slick-slider {

  .slick-list {
    overflow: hidden;
  }

  .slick-track{
    display: flex;
  }

  .slick-arrow {
    font-size: 0;
    background: rgba(245, 250, 254, 1);
    width: 10px;
    height: 17.5px;
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
  }

  .slick-prev {
      background-image: url('../images/SVG/arrow_prev.svg');
      left: -190px;
      z-index: 1;
      @media screen and (max-width:1200px){
        left: -100px;
       }

  }
  .slick-next {
    background-image: url('../images/SVG/arrow_next.svg');
    right: -190px;
    @media screen and (max-width:1200px){
      right: -100px;
     }
  }
}

  &__card {
    max-width: 731px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    position: absolute;
    top: 0px;
  }

  &__place-img {
    height: 45px;
    width: 100%;
    background: rgba(245, 250, 254, 1);
  }

  &__name {
    margin: 54px 97px 10px 97px ;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #EC1F46;
  }

  &__date {
    margin:  0 97px 5px 97px;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
  }

  &__text {
    margin: 33px 97px 30px 97px;
    font-size: 12px;
    line-height: 160%;
    text-align: justify;
    color: #333333;
    @media screen and (max-width:768px){
      margin: 33px 47px 30px 47px;
    }
    @media screen and (max-width:576px){
      margin: 25px;
    }

  }
}

.form {

  background: linear-gradient( rgba(10, 34, 61, 0.8), rgba(10, 34, 61, 0.8)),  url('../images/bg_form.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 260px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:768px){
    max-height: 180px;
   }
   @media screen and (max-width:576px){
     flex-direction: column;
   }

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
    @media screen and (max-width:768px){
      margin-right: 40px;
     }
     @media screen and (max-width:576px){
       margin-right: 0px;
     }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    @media screen and (max-width:768px){
      font-size: 20px;
    }
    @media screen and (max-width:576px){
      text-align: center;
     }
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width:768px){
      font-size: 30px;
    }
    @media screen and (max-width:576px){
      text-align: center;
      margin-bottom: 20px;
     }
  }

  &__right {
    border-radius: 4px;
    overflow: hidden;
    max-width: 350px;
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__input {
    padding: 22px 33px;
    max-width: 285px;
    width: 100%;
    @media screen and (max-width:768px){
      max-width: 260px;
    }
  }

  &__button {
    padding: 22px 18px;
    background: #EC1F46;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    &:hover {
      color: rgba(130, 130, 130, 1);
    }
    @media screen and (max-width:768px){
      padding: 22px 14px;
    }

  }
}

.activities {

  background: rgba(245, 250, 254, 1);
  .container {
    max-width: 1150px;
  }

  &__title {
    font-weight: bold;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin: 60px 0;
    @media screen and (max-width:992px){
      text-align: center;
    }
    @media screen and (max-width:768px){
      margin: 40px 0;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
    @media screen and (max-width:992px){
      flex-wrap: wrap;
      max-width: 700px;
      justify-content: center;
    }
    @media screen and (max-width:768px){
      margin-bottom: 50px;
     }
  }

  &__card {
    position: relative;
    max-width: 255px;
    max-height: 255px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    @media screen and (max-width:1200px){
      max-width: 225px;
      max-height: 225px;
     }
     @media screen and (max-width:992px){
        max-width: 255px;
        max-height: 255px;
        margin: 15px;
      }
      @media screen and (max-width:610px){
          max-width: 225px;
          max-height: 225px;
      }
      @media screen and (max-width:540px){
        max-width: 255px;
        max-height: 255px;
       }
  }

  &__img {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 120%;
      height: 120%;
      font-size: 30px;
      background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
      top: -10%;
      left: -10%;
    }
  }

  &__article {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 200px;
    bottom: 72px;
    left: 26px;
    @media screen and (max-width:1200px){
      left: 20px;
     }
  }

  &__button {
    position: absolute;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #EC1F46;
    border-radius: 4px;
    bottom: 24px;
    left: 26px;
    padding: 7px 21px;
    @media screen and (max-width:1200px){
      left: 20px;
     }
  }
}

.footer {

  background: rgba(10, 34, 61, 1);
  padding: 108px 0 46px 0;
  @media screen and (max-width:1200px){
    padding: 48px 0 46px 0;
   }

  .container {
    max-width: 1150px;
  }

  &__up {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 94px;
    @media screen and (max-width:1200px){
      padding: 0 20px;
    }
    @media screen and (max-width:992px){
      padding: 0;
      justify-content: space-evenly;
    }
    @media screen and (max-width:576px){
      flex-direction: column;
      align-items: center;
      margin-bottom: 44px;
    }
  }

  &__logo {
    font-family: 'Luckiest Guy';
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 192px;
    p{
      span {
        color: #EC1F46;
      }
    }
    @media screen and (max-width:768px){
      display: none;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    @media screen and (max-width:576px){
      max-width: 250px;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
    @media screen and (max-width:768px){
      max-width: 150px;
     }
     @media screen and (max-width:576px){
      max-width: 250px;
      }
  }

  &__item {
    margin: 6px 0;
    color: #BDBDBD;
  }

  &__container {
    display: flex;
    margin-top: 28px;
  }

  &__article {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 20px;
    color: #FFFFFF;
    @media screen and (max-width:768px){
      margin-right: 0px;
      max-width: 130px;
    }
    @media screen and (max-width:576px){
      max-width: initial;
      max-width: 200px;
      margin-right: 10px;
     }
  }

  &__social {
    color: #BDBDBD;
    background-color: transparent;
    width: 20px;
    height: 20px;
  }
}

.contacts {

  display: flex;
  width: 100%;
  position: relative;
  @media screen and (max-width:768px){
    flex-direction: column;
    align-items: center;
   }
  &::after {
    content: '* Required Fields';
    position: absolute;
    font-size: 12px;
    color: #FFFFFF;
    bottom:-10px;
    right: 0;
    @media screen and (max-width:768px){
      bottom: 25px;
      right: calc(50% - 250px);
    }
    @media screen and (max-width:576px){
      right: 0px;
     }
  }

  &__column {
    flex: 0 0 50%;
    &:nth-child(1){
      padding: 0 20px;
    }
    @media screen and (max-width:768px){
      width: 100%;
      max-width: 500px;
      margin: 20px 0;
      &:nth-child(1){
        padding: 0;
      }
     }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
  }

  &__item {
    font-size: 14px;
    line-height: 160%;
    color: #BDBDBD;
    margin-bottom: 22px;
  }

  &__location {
    font-size: 14px;
    line-height: 160%;
    color: #BDBDBD;
    margin-bottom: 22px;
    padding-left: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/map-pin.svg');
      background-repeat: no-repeat;
      top: 4px;
      left: 0px;
    }
  }

  &__phone {
    font-size: 14px;
    line-height: 160%;
    color: #BDBDBD;
    margin-bottom: 22px;
    padding-left: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/phone-call.svg');
      background-repeat: no-repeat;
      top: 4px;
      left: 0px;
    }
  }

  &__email {
    font-size: 14px;
    line-height: 160%;
    color: #BDBDBD;
    padding-left: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-image: url('../images/SVG/email.svg');
      background-repeat: no-repeat;
      top: 4px;
      left: 0px;
    }
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    border-radius: 4px;
    padding: 18px 0 18px 23px;
    max-width: 265px;
    width: 100%;
    margin-bottom: 22px;
    &:nth-child(1) {
      margin-right: 15px;
    }
    &_message {
      max-width:initial;
      padding: 0px 0 80px 23px;
      max-height: 123px;
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @media screen and (max-width:768px){
        padding: 10px 0 80px 23px;
      }
    }
  }

  &__btn {
    margin-top: 22px;
    background: #EC1F46;
    border-radius: 4px;
    text-align: center;
    max-width: 160px;
    padding: 18px 0;
    color: #FFFFFF;
  }
}

.payments {

  display: flex;
  align-items: center;
  margin-top: 95px;
  width: 100%;
  justify-content: space-between;

  &__center {
    @media screen and (max-width:576px){
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__link {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0 8px;
    @media screen and (max-width:576px){
      margin: 4px 8px;
     }
  }

}





// Support Classes

.menu-burger{
  display: none;
}
.shadow {
  box-shadow: 0px 0px 3px #888;
}
.d-none {
  display: none;
}
._lock {
  overflow: hidden;
}


// Menu Burger

@media screen and (max-width:768px){
  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-burger._active {
    span {
      transform: scale(0) translate(0, -50%);
    }
  }
  .menu-burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__logo {
    z-index: 10;
  }



  .header__list{
    position: fixed;
    overflow: auto;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 40px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: start;

  }

  .header__list._active {
    left: 0px;
    .header__logo {
        position: fixed;
        left: 30px;
    }
    .fixed-burger {
      position: fixed;
    }
  }

  .header__list._active::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 94px;
    background: gray;
    z-index: 9;
  }
 }

